<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/packtdb</property>
        <property name="connection.username">packt</property>
        <property name="connection.password">P@ssw0rd</property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">50</property>
        
        <property name="jdbc.batch_size">100</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <property name="hibernate.connection.isolation">2</property>
		
        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>        


<!--         <property name="hibernate.generate_statistics">true</property>        
 -->
 <!--         <property name="hibernate.cache.use_structured_entries">true</property>        
 -->
		<property name="hbm2ddl.auto">update</property>
	</session-factory>
</hibernate-configuration>
